<h1> National Parks</h1>
<div class="row">
  <div class="col-md-12">
    <div id="chart" style="height: 80px;"></div>
  </div>
</div>
<div class="row">
  <% @parks.each do |park| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <%= link_to image_tag(park.image), park_path(park) %>
      <div class="caption">
        <h3><%= link_to park.name, park_path(park) %></h3>
           <p><%= park.summary %></p>
      </div>
    </div>
  </div>
  <% end %>
 </div>
